<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div id="header">
        <div id="storename">
            <h1>Santa Clara Bookstore</h1>
        </div>
        <div id="headright">
            <div id="user">
                <ul>
                    <li>@Html.ActionLink("Register", "UserRegister", "User")</li>
                    <li>@Html.ActionLink("Login", "UserInfoUpdate", "User")</li>
                    <li>@Html.ActionLink("Cart", "ViewCart", "User")</li>
                </ul>
            </div>
            <div id="search">
                @using (Html.BeginForm("SearchBook", "Search"))
                {
                    @Html.TextBox("searchString")
                    <input type="submit" value="Search" />
                }
            </div>
        </div>
    </div>

    <div id="nav">
        <ul id="menu">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Computer", "Show", "Book", new { pageNumber = 1, categoryname = "CS" }, null)</li>
            <li>@Html.ActionLink("Novel", "Show", "Book", new { pageNumber = 1, categoryname = "Novel" }, null)</li>
            <li>@Html.ActionLink("Economics", "Show", "Book", new { pageNumber = 1, categoryname = "Economics" }, null)</li>
            <li>@Html.ActionLink("About Us", "AboutUs", "Home")</li>
        </ul>
    </div>
    <div id="content">
         @RenderBody()
    </div>

    <div id="footer">
        <h6> Copyright &copy; 2016 by Bookstore</h6>
    </div>
</body>
</html>

